section.hero
  .wrapper
    .hero__body
      h1 Learn no-code tools today.
      p.hero__text Create beautiful webflow sites with flowbase. Clone for free and get started building a site today.
      a.button(href="#") Get started
      .students
        ul.students__list
          li.students__item
            img.students__foto(src="images/student_1.jpg", alt="")
          li.students__item
            img.students__foto(src="images/student_2.jpg", alt="")
          li.students__item
            img.students__foto(src="images/student_3.jpg", alt="")
        span.students__text Join over <i>4,000+</i> students
  #video.hero__video

