section.totals
  .wrapper
    ul.scores
      li.scores__item
        span.scores__value 12,201
        span.scores__label happy students
      li.scores__item
        span.scores__value 3,291
        span.scores__label lectures
      li.scores__item
        span.scores__value 1,291
        span.scores__label 5 star reviews
    h2.totals__title What you’ll learn
    p.totals__description
      | Create beautiful webflow sites with flowbase. Clone for free and get started building a site today.
    ul.options
      li.options__item
        .options__text
          h3 Analyzing User Data
          p Who are you developing for? How will they use your design? Building user personas can answer these.
        .options__data
          span 6 videos
          span 4.5 hours
      li.options__item
        .options__text
          h3 User Persona
          p Who are you developing for? How will they use your design? Building user personas can answer these.
        .options__data
          span 6 videos
          span 4.5 hours
      li.options__item
        .options__text
          h3 Prototyping
          p Who are you developing for? How will they use your design? Building user personas can answer these.
        .options__data
          span 6 videos
          span 4.5 hours
      li.options__item
        .options__text
          h3 Storyboarding
          p Who are you developing for? How will they use your design? Building user personas can answer these.
        .options__data
          span 6 videos
          span 4.5 hours
    .author
      .author__body
        h2.author__heading Hi, I am David, your course instructor.
        p.author__text
          | Create beautiful webflow sites with flowbase. Clone for free and get started building a site today.
      .author__photo
        .author__photo-wrapper
          img.author__img(src="images/author_photo.png")
