section.reviews
  .wrapper
    .reviews__head
      h2.reviews__title What my students say
      p.reviews__text Create custom landing pages with Shades that convert more visitors than any website—no coding required.
    .reviews__body
      .swiper
        .swiper-wrapper
          .swiper-slide
            .review
              p.review__text
                | “I waited to completely finish the course to rate it. This was my first approach to python, i am an excel and VBA user. The professor has an excellent way to explain it and a lot or order and organization. I really recommend it.”
              .review__footer
                .review__photo
                  img.review__img(src="images/review_author_1.png")
                .review__author
                  span.review__name Henk Fortuin
                  span.review__position Founder of Crips
          .swiper-slide
              .review
                p.review__text
                  | “I waited to completely finish the course to rate it. This was my first approach to python, i am an excel and VBA user. The professor has an excellent way to explain it and a lot or order and organization. I really recommend it.”
                .review__footer
                  .review__photo
                    img.review__img(src="images/review_author_2.png")
                  .review__author
                    span.review__name Opi Watihana
                    span.review__position Founder of Crips
          .swiper-slide
              .review
                p.review__text
                  | “I waited to completely finish the course to rate it. This was my first approach to python, i am an excel and VBA user. The professor has an excellent way to explain it and a lot or order and organization. I really recommend it.”
                .review__footer
                  .review__photo
                    img.review__img(src="images/review_author_3.png")
                  .review__author
                    span.review__name Annie Reyes
                    span.review__position Founder of Crips


