footer.footer
  .wrapper
    .footer__top
      .logo
        a.logo__link(href='#')
          img.logo__image(src="images/logo.svg" alt="No-Code")
      .footer__subscribe
        form.footer__subscribe-form
          .footer__subscribe-wrapper
            input(type="text" placeholder="Stay in the loop  - sign up with your email").footer__subscribe-input
            button.button.button--small.footer__subscribe-button Subscribe
    .footer__bottom
      .menu
        h3.menu__heading Help Menu
        ul.menu__list
          li.menu__item
            a.menu__link(href="#") About
          li.menu__item
            a.menu__link(href="#") Features
          li.menu__item
            a.menu__link(href="#") Works
          li.menu__item
            a.menu__link(href="#") Career
        ul.menu__list
          li.menu__item
            a.menu__link(href="#") Contact
          li.menu__item
            a.menu__link(href="#") Help & Support
          li.menu__item
            a.menu__link(href="#") Privacy Policy
          li.menu__item
            a.menu__link(href="#") Term & Conditions
      .menu
        h3.menu__heading Product
        ul.menu__list
          li.menu__item
            a.menu__link(href="#") Essential Landing Page
          li.menu__item
            a.menu__link(href="#") Alpha Dashboard Pro
          li.menu__item
            a.menu__link(href="#") Karnel Admin Dashboard
          li.menu__item
            a.menu__link(href="#") Gray UI Kit


