header
  .logo
    a.logo__link(href='#')
      img.logo__image(src="images/logo.svg" alt="No-Code")
  nav.navigation
    ul.navigation__list
      li.navigation__item
        a.navigation__link(href='#') Course topics
      li.navigation__item
        a.navigation__link(href='#') What students say
  a.signin(href='#') Sign in
  a.button.button--small(href="#") Get started
