$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$montserrat: 'Montserrat', sans-serif;

$purple: #9F07FF;
$accent-text: #001A49;
$light-gradient: linear-gradient(44deg, rgba(251, 244, 255, 0.05) 0%, rgba(159, 6, 255, 0.05) 100%);
$gradient: linear-gradient(44deg, #CD10FF 0%, #CD10FF 0.01%, #9F06FF 100%);
